body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.posts__content{
  color: blue;
}
.posts__header{
  color: #9fff9e;
}

.posts__user{
  color: #ff273c;
}


.wrapper {
  width: 300px;
  display: block;

  border: 4px double black;
  background: #fc3; /
  padding: 10px;

}
.TrenerList{
  list-style: none;
  text-align: center;
  width: 100px;
  margin: auto;
  font-size: 16px;
  padding: 0;
}

.Li_list{
  background-color: #feffff;



}

.Li_list:hover{
  background-color: #3f4dff;
}




.exercise{
  font-size: 20px;
  line-height: 20px;
}


.text-line{
  text-decoration: line-through;
}


